# Core functionality - changes here should be rare!
/src/app.py                   @venuri-p
/src/backend/database.py      @venuri-p
/src/backend/routers/auth.py  @venuri-p

# The frontend will need refactored soon to be more object oriented.
/src/static/   @venuri-p

